<div class="sidebar">
  <h6 class="sidebar-header">Modules</h6>

  <ul class="sidebar-nav">
    <li class="sidebar-item">
      <a href="" class="sidebar-link">
        <i class="far fa-bell fa-fw"></i>
        Alerts
      </a>
    </li>

    <li class="sidebar-item">
      <a href="" class="sidebar-link">
        <i class="far fa-users fa-fw"></i>
        Customers
      </a>
    </li>

    <li class="sidebar-item">
      <a href="" class="sidebar-link">
        <i class="far fa-credit-card fa-fw"></i>
        E-cards
      </a>
    </li>

    <li class="sidebar-item">
      <a href="" class="sidebar-link">
        <i class="far fa-file-edit fa-fw"></i>
        E-courses
      </a>
    </li>

    <li class="sidebar-item">
      <a href="" class="sidebar-link">
        <i class="far fa-upload fa-fw"></i>
        EFM Integration
      </a>
    </li>

    <li class="sidebar-item">
      <a href="" class="sidebar-link">
        <i class="far fa-file-edit fa-fw"></i>
        E-signatures
      </a>
    </li>

    <li class="sidebar-item">
      <a href="" class="sidebar-link">
        <i class="far fa-clipboard fa-fw"></i>
        Programs
      </a>
    </li>

    <li class="sidebar-item">
      <a href="" class="sidebar-link">
        <i class="far fa-scanner-touchscreen fa-fw"></i>
        Self sign
      </a>
    </li>

    <li class="sidebar-item">
      <a href="" class="sidebar-link">
        <i class="far fa-database fa-fw"></i>
        Storage
      </a>
    </li>

    <li class="sidebar-item">
      <a href="" class="sidebar-link">
        <i class="far fa-globe fa-fw"></i>
        Website
      </a>
    </li>

    <li class="sidebar-item">
      <a href="" class="sidebar-link">
        <i class="far fa-calendar-alt fa-fw"></i>
        Workshops
      </a>
    </li>
  </ul>

  <h6 class="sidebar-header">Administration</h6>

  <ul class="sidebar-nav">
    <li class="sidebar-item">
      <a href="" class="sidebar-link">
        <i class="far fa-id-card-alt fa-fw"></i>
        Audits
      </a>
    </li>

    <li class="sidebar-item">
      <%= link_to admin_staff_members_path, class: 'sidebar-link', data: { controller: 'staff_members' } do %>
        <i class="far fa-id-badge fa-fw"></i>
        Staff Members
      <% end %>
    </li>

    <li class="sidebar-item">
      <a href="" class="sidebar-link">
        <i class="far fa-cog fa-fw"></i>
        Settings
      </a>
    </li>
  </ul>
</div>